.outer-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px auto;
    border: 1px solid rgb(100,100,100);
    border-radius: 10px;
    overflow: hidden;
}

.header-bar {
    background-color: cornflowerblue;
    width: 320px;
    height: 50px;
    position: relative;
    top: 50%;
    line-height: 50px;
    text-align: center;
    color: white;
    font-family: 'Helvetica Neue';
    font-size: 21px;
}

.first-text {
    background-color: #F9F9F9;
    font-family: 'Helvetica Neue';
    color: #9C9C9C;
    height: 30px;
    border-bottom: 1px solid #D9D9D7;
    text-align: center;
    line-height: 29px;
}


#monthly-payment-result {
    color: black;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 152px;

}
.numeric-outputs-div {
    background-color: white;
    width: 100%;
    height: 60px;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #D9D9D7;
    margin-bottom: -4px;
}

.numeric-outputs-centering-div {
  margin: 0px auto;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}
.result-cost {
    border: 1px black solid;
    font-family: 'Helvetica Neue';
    font-size: 13px;
    display: inline-block;
    width: 60px;
    margin: 0 5px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(230,230,230);
    border-radius: 4px;
    padding: 3px 0px;
    height: 40px;
}
.result-name {
    /*background-color: white;*/
    word-wrap: break-word;
    font-family: 'Helvetica Neue';
    font-size: 10px;
    text-align: center;
}
.slider-box {
    width: 300px;
    height: 60px;
    position: relative;
    display: block;
    background-color: #F9F9F9;
    border-bottom: 1px solid #D9D9D7;
    padding: 0px 10px;
}
.slider-title {
    position: absolute;
    width: 170px;
    height: 50px;
    top: 5px;
    left: 10px;
    font-family: 'Helvetica Neue';
    font-size: 13px;
    color: #9C9C9C;
    font-weight: bold;
    background-color: #F9F9F9;
}

.mySlider {
    position: absolute;
    width: 90%;
    height: 30px;
    top: 20px;
    left: 10px;
    font-family: 'Helvetica Neue';
}

.slider-data-num {
    position: absolute;
    width: auto;
    height: 50px;
    top: 5px;
    right: 7%;
    font-family: 'Helvetica Neue';
    font-size: 13px;
    color: #779DA5;
    font-weight: bold;
}

.rates {
    width: 140px;
}

#donutchart {
    margin: -24px 0px;
    width: auto;
    height: auto;
}
.hidden{
  display: none;
}
